.leftContainer {
  /*This is the button area*/
  width:30%;
  height: 100%;
  float: left;
  text-align: center;
  background-image: linear-gradient(cyan, grey);
  /*border-right: 1rem solid;*/
}
.rightContainer {
  width: 70%;
  height: 100%;
  float: right;
  text-align: left;
  background-image: linear-gradient(grey, cyan);
  /*border-left: 1rem solid;*/
}
.form1{
  color: inherit;
  text-align: left;
  font-size: 110%;
}
</style>
<script>
function ShowCont(){
  var x = document.getElementById("AddForm");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
  }
}
