body {
    background-image: linear-gradient(grey, cyan);
}
.leftContainer {
  /*This is the button area*/
  margin: 0;
  width:100%;
  text-align: center;
  border: 2px solid white;
  border-radius: 12px;
	
}
.rightContainer {
  margin: 5px 0;
  width: 100%;
  height: 100%;
  text-align: center;
  /*border-left: 1rem solid;*/
}
table {
     width: 100%;
     text-align: center;
 }
#admintable {
    font-size: 18px;
    width: 100%;
    text-align: center;
}
#admintable thead {
    background-color:#888;
}
#admintable tbody:nth-child(even) {
    background-color:#b3b3b3;
    border-color:#b3b3b3;
    opacity: 50%;
}
#admintable .unlinked {
    background-color: #ffcccc;
    border-color: #ffcccc;
    opacity: 50%;

}
#admintable .unlinked:nth-child(even) {
    background-color: #d9baba;
    border-color: #d9baba;
    opacity: 50%;

}
.hidden {
    display: none;
}
	

#AddUser, #ListUsers, #EditUser, #EditUserList, #DeleteUserList, #searchOptions {
	display: none;
}
